.content-box{
    height: 70vh;
    width: 70%;
    overflow-y: scroll;    
    margin: auto;
}
.search{
    margin-left: 10%; 
    padding: 20px 0px;
}
.search input{
    width: 30vw;
    height: 30px;
    border-radius: 2px;
    margin: 0 16px 0 60px;
    padding: 0 10px;
    font-style: oblique;
}