<main>
    <div class="container">

      <div>
          <div class="left">
            <div style="display: inline-block;">
              <p>Thanks for shopping at the Angular Store.
                <br/>
              This is your shopping cart. Here you can edit the items, go back to the store, clear the cart or check out</p>              
            </div>

            <table class="table table-bordered">
              <thead style="background-color: lightgray; text-align: center;">
                <tr>
                  <th scope="row">Item</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="text-align: center">
                <tr>
                  <th scope="row">Folates</th>
                  <td>
                    <input type="text" style="width:80px; text-align: center;">
                    <button type="button" style="background-color: green; color: white;" class="btn btn-link">+</button>
                    <button type="button" style="background-color: gray; color: white;" class="btn btn-link">-</button>
                  </td>
                  <td></td>                  
                  <td>x</td>
                </tr>
              </tbody>
              <tfoot style="background-color: lightgray; text-align: center;">
                <tr>
                  <th scope="row">Total</th>
                  <td>3</td>
                  <td>$.00</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>                                
          </div> 

          <div class="right">
            <button class="btn btn-light btn-block" type="button" (click)="back()">Back to Store</button>
            <button class="btn btn-danger btn-block" type="button">Clear Cart</button>
          <br/>
          <br/>          
            <button class="btn btn-primary btn-block" type="button">Checkout Using PayPal</button>
            <button class="btn btn-primary btn-block" type="button">Checkout Using Google</button>
          </div>
        
      </div>

    </div>
  </main>