<main>
    <div class="container">

      <div *ngFor="let details of data">
          <div class="left">
            <div style="display: inline-block;">
              <!--<span><img src="assets/products/apl.jpg"/></span><span>I am Apple</span>-->
              <span><img [src]="details.image"/></span><span>{{details.description}}</span>
            </div>

            <table class="table table-bordered">
              <thead style="background-color: lightgray;">
                <tr>
                  <th scope="row"></th>
                  <td colspan="2"></td>
                  <td style="text-align: center;">
                    <a href="cart-details">
                      <i style="font-size: 17px;" class="fas fa-cart-plus"></i>
                      <strong>{{totalItems}}</strong> Items ${{grandTotal}}.00 
                      <br />                    
                    </a>
                    <div *ngIf="elem">( this item is in the cart )</div>                    
                  </td>
                </tr>
              </thead>

              <tbody style="text-align: center">
                <tr>
                  <th scope="row">Calories</th>
                  <td style="font-size: 2em">{{details.cal}}</td>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <th scope="row">Carotenoid</th>
                  <td><img [src]="details.nutrients.cimage"></td>
                  <td colspan="2"><strong>{{details.nutrients.cremarks}}</strong>&nbsp;:{{details.nutrients.ccontent}}</td>
                </tr>
                <tr>
                  <th scope="row">Fiber</th>
                  <td><img [src]="details.nutrients.fiimage"></td>
                  <td colspan="2"><strong>{{details.nutrients.firemarks}}</strong>&nbsp;:{{details.nutrients.ficontent}}</td>
                </tr>
                <tr>
                  <th scope="row">Folates</th>
                  <td><img [src]="details.nutrients.foimage"></td>
                  <td colspan="2"><strong>{{details.nutrients.foremarks}}</strong>&nbsp;:{{details.nutrients.focontent}}</td>
                </tr>
                <tr>
                  <th scope="row">Potassium</th>
                  <td><img [src]="details.nutrients.pimage"></td>
                  <td colspan="2"><strong>{{details.nutrients.premarks}}</strong>&nbsp;:{{details.nutrients.pcontent}}</td>
                </tr>
                <tr>
                  <th scope="row">Vitamin C</th>
                  <td><img [src]="details.nutrients.vimage"></td>
                  <td colspan="2"><strong>{{details.nutrients.vremarks}}</strong>&nbsp;:{{details.nutrients.vcontent}}</td>
                </tr>
              </tbody>

              <tfoot style="background-color: lightgray">
                <tr>
                  <th scope="row"></th>
                  <td colspan="2"></td>
                  <td style="text-align: center;">
                    <a href="cart-details">
                    <i style="font-size: 17px;" class="fas fa-cart-plus"></i>
                    <strong>{{totalItems}}</strong> Items ${{grandTotal}}.00 
                    <br />
                    </a>
                  </td>
                </tr>
              </tfoot>
            </table>                                
          </div> 

          <div class="right">
            <button class="btn btn-success btn-block" type="button" (click)="incrementQauntity(details)">
              <i style="font-size: 17px;" class="fas fa-cart-plus"></i> Add To Cart</button>
            <button class="btn btn-danger btn-block" type="button" (click)="deleteItem(details._id)">
              <i style="font-size: 17px;" class="fa-solid fa-trash"></i> Remove from Cart</button>
            <button class="btn btn-light btn-block" type="button" (click)="back()">
              <i style="font-size: 17px;" class="fa-solid fa-angles-left"></i> Back to Store</button>
          </div>
        
      </div>

    </div>
  </main>