.left{
    float: left;
    margin-top: 6%;
    width: 60%;
}

.right{
    float: right;
    margin-top: 11%;    
    width: 30%;
}

/*@media only screen and (min-width: 991px) and (max-width: 1199px){
    .right {
        float: none;
        margin: auto;
    }
    .left{
        float: none;
        margin-top: 10%;
    }
  }*/