.left{
    float: left;
    margin-top: 10%;
}

.right{
    float: right;
    margin-top: 10%;    
    width: 30%;
}

@media only screen and (min-width: 991px) and (max-width: 1199px){
    .right {
        float: none;
        margin: auto;
        padding: 20px 20px;
    }
    .left{
        float: none;
        margin-top: 10%;
    }
  }